macos/emacs/dot-emacs.d/*
macos/emacs/dot-emacs.d/configuration.org
macos/emacs/dot-emacs.d/init.el
macos/emacs/dot-emacs.d/resources
macos/emacs/dot-emacs.d/snippets

ruby/dot-bundle/cache
/open-source-tools/dot-opt/gdb-dashboard/
/open-source-tools/dot-opt/sensible-defaults.el/
/emacs/sensible-defaults.el/
nix/home/programs/emacs/doom.d/config.el
