emacs/dot-emacs.d/*
!emacs/dot-emacs.d/configuration.org
!emacs/dot-emacs.d/init.el
!emacs/dot-emacs.d/resources
!emacs/dot-emacs.d/snippets

ruby/dot-bundle/cache
/open-source-tools/dot-opt/gdb-dashboard/
/open-source-tools/dot-opt/sensible-defaults.el/
/emacs/sensible-defaults.el/
